:root {
      --main-green: #2e7d32;   /* hijau utama */
      --light-green: #e8f5e9; /* hijau muda */
      --dark-green: #1b5e20;  /* hijau gelap */
    }
a{
  color: inherit !important;
  text-decoration: none !important;

}

body,html{
  height: 100vh;
  min-height: 100%;
  margin: 0;
  padding: 0;

}
body{
  padding-top: 80px;
}

footer{
  position: absolute;
  width: 100%;

}
